@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    background: #1e1b2e;
    position: relative;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    height: 100%;
  }
  body {
    width: 100%;
    height: 100vh;
  }
  input[type='password'] {
    font: small-caption;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
  }
  section {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #1e1b2e;
  }
  .conversations::-webkit-scrollbar {
    z-index: 2;
  }
  .conversations::-webkit-scrollbar,
  .conversations::-webkit-scrollbar-track,
  .conversations::-webkit-scrollbar-thumb {
    visibility: hidden;
    width: 8px; /* width of the entire scrollbar */
    position: absolute;
    right: 0;
  }
  .conversations:active::-webkit-scrollbar-thumb,
  .conversations:focus::-webkit-scrollbar-thumb,
  .conversations:hover::-webkit-scrollbar-thumb {
    visibility: visible;
    position: absolute;
    right: 0;
  }

  .conversations::-webkit-scrollbar:hover,
  .conversations::-webkit-scrollbar-thumb:hover,
  .conversations::-webkit-scrollbar-track:hover {
    visibility: visible;
    width: 8px; /* width of the entire scrollbar */
    right: 0;
    position: absolute;
  }

  .conversations::-webkit-scrollbar-track {
    padding-top: 12px;
    background: inherit; /* color of the tracking area */
  }

  .conversations::-webkit-scrollbar-thumb {
    background-color: rgb(192, 192, 192); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
  }

  .share-files::-webkit-scrollbar-track {
    padding-top: 12px;
    background: inherit; /* color of the tracking area */
  }

  .share-files::-webkit-scrollbar-thumb {
    background-color: rgb(192, 192, 192); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
  }
  .share-files::-webkit-scrollbar,
  .share-files::-webkit-scrollbar-track,
  .share-files::-webkit-scrollbar-thumb {
    visibility: hidden;
    width: 6px; /* width of the entire scrollbar */
    position: absolute;
    right: 0;
  }
  .share-files:active::-webkit-scrollbar-thumb,
  .share-files:focus::-webkit-scrollbar-thumb,
  .share-files:hover::-webkit-scrollbar-thumb {
    visibility: visible;
    position: absolute;
    right: 0;
  }
  .share-files::-webkit-scrollbar:hover,
  .share-files::-webkit-scrollbar-thumb:hover,
  .share-files::-webkit-scrollbar-track:hover {
    visibility: visible;
    width: 6px; /* width of the entire scrollbar */
    right: 0;
    position: absolute;
  }

  /* .main-windows > * {
    border-left: 2px solid #bbb;
  }
  .main-windows > :first-child {
    border-left: 0;
  } */
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #9b9b9b;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #838383;
}
/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
