@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media (prefers-color-scheme: dark) {
    body {
      --color-primary-100: #382bf0;
      --color-primary-200: #5e43f3;
      --color-primary-300: #7a5af5;
      --color-primary-400: #9171f8;
      --color-primary-500: #a688fa;
      --color-primary-600: #ba9ffb;
      /** CSS DARK THEME SURFACE COLORS */
      --color-surface-100: #121212;
      --color-surface-200: #282828;
      --color-surface-300: #3f3f3f;
      --color-surface-400: #575757;
      --color-surface-500: #717171;
      --color-surface-600: #8b8b8b;
      /** CSS DARK THEME MIXED SURFACE COLORS */
      --color-surface-mixed-100: #1a1625;
      --color-surface-mixed-200: #2f2b3a;
      --color-surface-mixed-300: #46424f;
      --color-surface-mixed-400: #5e5a66;
      --color-surface-mixed-500: #76737e;
      --color-surface-mixed-600: #908d96;
      --color-base: rgb(255, 255, 255, 1);
      --color-light: rgb(125, 125, 125, 1);
    }
  }
  body[data-theme='dark'] {
    --color-primary-100: #382bf0;
    --color-primary-200: #5e43f3;
    --color-primary-300: #7a5af5;
    --color-primary-400: #9171f8;
    --color-primary-500: #a688fa;
    --color-primary-600: #ba9ffb;
    /** CSS DARK THEME SURFACE COLORS */
    --color-surface-100: #121212;
    --color-surface-200: #282828;
    --color-surface-300: #3f3f3f;
    --color-surface-400: #575757;
    --color-surface-500: #717171;
    --color-surface-600: #8b8b8b;
    /** CSS DARK THEME MIXED SURFACE COLORS */
    --color-surface-mixed-100: #1a1625;
    --color-surface-mixed-200: #2f2b3a;
    --color-surface-mixed-300: #46424f;
    --color-surface-mixed-400: #5e5a66;
    --color-surface-mixed-500: #76737e;
    --color-surface-mixed-600: #908d96;
    --color-base: rgb(255, 255, 255, 1);
    --color-light: rgb(125, 125, 125, 1);
  }
  @media (prefers-color-scheme: light) {
    body {
      /** CSS LIGHT THEME PRIMARY COLORS */
      --color-primary-100: #cdd4ff;
      --color-primary-200: #a3b1ff;
      --color-primary-300: #778fff;
      --color-primary-400: #5a73ff;
      --color-primary-500: #3d57ff;
      --color-primary-600: #2035ff;
      /** CSS LIGHT THEME SURFACE COLORS */
      --color-surface-100: #f2f2f2;
      --color-surface-200: #e6e6e6;
      --color-surface-300: #d9d9d9;
      --color-surface-400: #cccccc;
      --color-surface-500: #bfbfbf;
      --color-surface-600: #b3b3b3;
      /** CSS LIGHT THEME MIXED SURFACE COLORS */
      --color-surface-mixed-100: #e6e6e6;
      --color-surface-mixed-200: #d9d9d9;
      --color-surface-mixed-300: #cccccc;
      --color-surface-mixed-400: #bfbfbf;
      --color-surface-mixed-500: #b3b3b3;
      --color-surface-mixed-600: #a6a6a6;
      --color-base: rgb(0, 0, 0, 1);
      --color-light: rgb(188, 188, 188, 1);
    }
  }
  body[data-theme='light'] {
    /** CSS LIGHT THEME PRIMARY COLORS */
    --color-primary-100: #cdd4ff;
    --color-primary-200: #a3b1ff;
    --color-primary-300: #778fff;
    --color-primary-400: #5a73ff;
    --color-primary-500: #3d57ff;
    --color-primary-600: #2035ff;
    /** CSS LIGHT THEME SURFACE COLORS */
    --color-surface-100: #f2f2f2;
    --color-surface-200: #e6e6e6;
    --color-surface-300: #d9d9d9;
    --color-surface-400: #cccccc;
    --color-surface-500: #bfbfbf;
    --color-surface-600: #b3b3b3;
    /** CSS LIGHT THEME MIXED SURFACE COLORS */
    --color-surface-mixed-100: #e6e6e6;
    --color-surface-mixed-200: #d9d9d9;
    --color-surface-mixed-300: #cccccc;
    --color-surface-mixed-400: #bfbfbf;
    --color-surface-mixed-500: #b3b3b3;
    --color-surface-mixed-600: #a6a6a6;
    --color-base: rgb(0, 0, 0, 1);
    --color-light: rgb(188, 188, 188, 1);
  }
  /* :root {
  } */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    height: 100%;
  }
  body {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  input[type='password'] {
    font: small-caption;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
  }
  section {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--color-surface-mixed-100);
  }
  .conversations::-webkit-scrollbar {
    z-index: 2;
  }
  .conversations::-webkit-scrollbar,
  .conversations::-webkit-scrollbar-track,
  .conversations::-webkit-scrollbar-thumb {
    visibility: hidden;
    width: 8px; /* width of the entire scrollbar */
    position: absolute;
    right: 0;
  }
  .conversations:active::-webkit-scrollbar-thumb,
  .conversations:focus::-webkit-scrollbar-thumb,
  .conversations:hover::-webkit-scrollbar-thumb {
    visibility: visible;
    position: absolute;
    right: 0;
  }

  .conversations::-webkit-scrollbar:hover,
  .conversations::-webkit-scrollbar-thumb:hover,
  .conversations::-webkit-scrollbar-track:hover {
    visibility: visible;
    width: 8px; /* width of the entire scrollbar */
    right: 0;
    position: absolute;
  }

  .conversations::-webkit-scrollbar-track {
    padding-top: 12px;
    background: inherit; /* color of the tracking area */
  }

  .conversations::-webkit-scrollbar-thumb {
    background-color: rgb(192, 192, 192); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
  }

  .share-files::-webkit-scrollbar-track {
    padding-top: 12px;
    background: inherit; /* color of the tracking area */
  }

  .share-files::-webkit-scrollbar-thumb {
    background-color: rgb(192, 192, 192); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
  }
  .share-files::-webkit-scrollbar,
  .share-files::-webkit-scrollbar-track,
  .share-files::-webkit-scrollbar-thumb {
    visibility: hidden;
    width: 6px; /* width of the entire scrollbar */
    position: absolute;
    right: 0;
  }
  .share-files:active::-webkit-scrollbar-thumb,
  .share-files:focus::-webkit-scrollbar-thumb,
  .share-files:hover::-webkit-scrollbar-thumb {
    visibility: visible;
    position: absolute;
    right: 0;
  }
  .share-files::-webkit-scrollbar:hover,
  .share-files::-webkit-scrollbar-thumb:hover,
  .share-files::-webkit-scrollbar-track:hover {
    visibility: visible;
    width: 6px; /* width of the entire scrollbar */
    right: 0;
    position: absolute;
  }

  /* .main-windows > * {
    border-left: 2px solid #bbb;
  }
  .main-windows > :first-child {
    border-left: 0;
  } */
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s;
}
input:autofill {
  background: transparent;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #9b9b9b;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #838383;
}
